/*  Fake Google  */

*
{
  margin: 0;
  padding: 0;
}

body
{
  font-family: Arial, sans-serif;
  font-size: 14px;
}

#container
{
  width: 580px;
  margin: 140px auto 0;
  text-align: center;
}

h1#logo
{
  width: 269px;
  height: 95px;
  background: url('images/googlelogo.png') top left no-repeat;
  background-size: 100%;
  text-indent: -9999px;
  margin: 0 auto;
}


input[type="text"]
{
  width: 564px;
  padding: 12px;
  margin: 25px 0 18px;
  font-size: 16px;
  border: solid 1px gainsboro;
  border-radius: 2px;
  box-shadow: 0 2px 2px #eee;
}

input[type="text"]:hover
{
 border-color: #aaa;
 box-shadow:0 3px 8px gainsboro;
}

input[type="submit"]
{
  background: #eee;
  color: grey;
  border: solid 1px #eee;
  padding: 10px 16px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin: 13px 4.5px;
  border-radius: 2px;
}

input[type="submit"]:hover
{
  cursor: pointer;
  border-color: silver;
  color: #282727;
}

small
{
  display: block;
  margin: 17px 0 0 0;
  font-size: 13px;
}

small a
{
  padding: 0 3px;
}

small a:link
{
  text-decoration: none;
}

small a:hover
{
  text-decoration: underline;
}

a:link, a:visited
{
  color: #1a0dab;
}

nav#header ul li.Signin b
{
background: #4285f4;
color: white;
border:solid 1px dodgerblue;
border-radius: 3px;
padding: 6.5px 12px;
font-size: 13px;
font-weight: bold;
margin-left: 5px;
margin-right: 2px;
}

nav#header ul li.Apps
{
  background: url('images/imag.png');
  background-size: 120%;
  margin-right: 12px;
}

nav#header ul li.Images
{
  margin-left: -4px;
  margin-right: 10px;
}

nav#header
{
  text-align:right;
  padding: 18px;
  margin: 5px;
  font-size: 13px;
}

nav#header ul li
{
  display: inline;
  margin: 5px -5px;
}

nav#header ul li a:link, nav#header ul li a:visited
{
  color: #282727;
  text-decoration: none;
  padding: 10px;
}

footer.bottom nav ul li a:link, footer.bottom nav ul li a:visited
{
  color: rgba(0,0,0,.54);
  text-decoration: none;
  padding-left: 20px;
}

nav#header ul li.Signin a:hover
{
  text-decoration: none;
}

nav#header ul li.Signin a:active
{
  position: relative;
  top: 1px;
}

nav#header ul li a:hover,
footer.bottom nav ul li a:hover
{
  text-decoration: underline;
}
footer.top
{
   background: #eee;
   position: fixed;
   bottom: 45px;
   width: 100%;
   padding: 15px;
   border: solid 1px gainsboro;
   font-size: 15px;
   margin-bottom: -6px;
   padding: 11px;
}

footer.top ul li
{
  display: inline;
  float: left;
}

footer.top nav ul li a:link, footer.top nav ul li a:visited
{
  color: rgba(0,0,0,.54);
  text-decoration: none;
  padding-left: 20px;
}

footer.top nav ul li a:hover
{
  text-decoration: underline;
}

footer.bottom
{
 background: #eee;
 position: fixed;
 bottom: 0;
 width: 100%;
 border: solid 1px gainsboro;
 font-size: 13px;
}

footer.bottom nav
{
  padding: 11px;
}

footer.bottom nav ul li
{
  display: inline;
  float: left;
}

footer.bottom nav ul.right-links
{
  float: right;
  padding-right: 20px;
}

.clearfix:after
{
  content: "";
  display: table;
  clear: both;
}
